.container
  table
    thead
      tr
        th Title
        th ISBN
        th Publisher
        th Publication Date
    tbody
      tr(ng-repeat="book in Books")
        td
            a(href='/angular1/books/{{book.isbn13}}' class='bookDetailLink') {{book.title}}
        td {{book.isbn13}}
        td {{book.publisher}}
        td {{book.publicationDate}}
