link(rel="stylesheet", href="/Angular1/css/normalize.css")
link(rel="stylesheet", href="/Angular1/css/main.css")
link(rel="stylesheet", href="/Angular1/css/bootstrap.min.css")
link(rel="stylesheet", href="/Angular1/css/toastr.min.css")
link(rel="stylesheet", href="/Angular1/css/ductia.css")
